<div class="page-header">
  <h1>Import</h1>
</div>
<form autocomplete="off" novalidate class="form-inline" (ngSubmit)="submitForm()">
  <radio-selector (onSelectAllChanged)="onSelectAllChanged($event)" [selection]="selectAll"></radio-selector>
  <div class="control-group">
    <label class="control-label" for="CompanySettings">Company settings</label>
    <div class="controls">
      <label class="radio inline">
        <input type="radio" [(ngModel)]="form.CompanySettings" name="CompanySettings" value="NOT_IMPORT" (ngModelChange)="onRadioChange($event)"/>
          Do not import
      </label>
      <label class="radio inline">
        <input type="radio" [(ngModel)]="form.CompanySettings" name="CompanySettings"  value="OVERWRITE" (ngModelChange)="onRadioChange($event)"/>
          Overwrite
      </label>
      <label class="radio inline">
        <input type="radio" [(ngModel)]="form.CompanySettings" name="CompanySettings"  value="INSERT" (ngModelChange)="onRadioChange($event)"/>
          Insert or duplicate
      </label>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="AccountSettings">Account settings</label>
    <div class="controls">
      <label class="radio inline">
        <input type="radio" [(ngModel)]="form.AccountSettings" name="AccountSettings" value="NOT_IMPORT" (ngModelChange)="onRadioChange($event)"/>
          Do not import
      </label>
      <label class="radio inline">
        <input type="radio" [(ngModel)]="form.AccountSettings" name="AccountSettings"  value="OVERWRITE" (ngModelChange)="onRadioChange($event)"/>
          Overwrite
      </label>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="AnalysisPlans">Analysis and analysis plans</label>
    <div class="controls">
      <label class="radio inline">
        <input type="radio" [(ngModel)]="form.AnalysisPlans" name="AnalysisPlans" value="NOT_IMPORT" (ngModelChange)="onRadioChange($event)"/>
          Do not import
      </label>
      <label class="radio inline">
        <input type="radio" [(ngModel)]="form.AnalysisPlans" name="AnalysisPlans"  value="OVERWRITE" (ngModelChange)="onRadioChange($event)"/>
          Overwrite
      </label>
      <label class="radio inline">
        <input type="radio" [(ngModel)]="form.AnalysisPlans" name="AnalysisPlans"  value="INSERT" (ngModelChange)="onRadioChange($event)"/>
          Insert or duplicate
      </label>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="Reconciliation">Reconciliation and reconciliation plans</label>
    <div class="controls">
      <label class="radio inline">
        <input type="radio" [(ngModel)]="form.Reconciliation" name="Reconciliation" value="NOT_IMPORT" (ngModelChange)="onRadioChange($event)"/>
          Do not import
      </label>
      <label class="radio inline">
        <input type="radio" [(ngModel)]="form.Reconciliation" name="Reconciliation"  value="OVERWRITE" (ngModelChange)="onRadioChange($event)"/>
          Overwrite
      </label>
      <label class="radio inline">
        <input type="radio" [(ngModel)]="form.Reconciliation" name="Reconciliation"  value="INSERT" (ngModelChange)="onRadioChange($event)"/>
          Insert or duplicate
        </label>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="DataMergeRules">Data Merge Rules</label>
    <div class="controls">
      <label class="radio inline">
        <input type="radio" [(ngModel)]="form.DataMergeRules" name="DataMergeRules" value="NOT_IMPORT" (ngModelChange)="onRadioChange($event)"/>
          Do not import
        </label>
      <label class="radio inline">
        <input type="radio" [(ngModel)]="form.DataMergeRules" name="DataMergeRules"  value="OVERWRITE" (ngModelChange)="onRadioChange($event)"/>
          Overwrite
        </label>
      <label class="radio inline">
        <input type="radio" [(ngModel)]="form.DataMergeRules" name="DataMergeRules"  value="INSERT" (ngModelChange)="onRadioChange($event)"/>
          Insert or duplicate
        </label>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="ImportProfiles">Import Profiles</label>
    <div class="controls">
      <label class="radio inline">
        <input type="radio" [(ngModel)]="form.ImportProfiles" name="ImportProfiles" value="NOT_IMPORT" (ngModelChange)="onRadioChange($event)"/>
          Do not import
        </label>
      <label class="radio inline">
        <input type="radio" [(ngModel)]="form.ImportProfiles" name="ImportProfiles"  value="OVERWRITE" (ngModelChange)="onRadioChange($event)"/>
          Overwrite
        </label>
      <label class="radio inline">
        <input type="radio" [(ngModel)]="form.ImportProfiles" name="ImportProfiles"  value="INSERT" (ngModelChange)="onRadioChange($event)"/>
          Insert or duplicate
        </label>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="ReportTemplates">Report Templates</label>
    <div class="controls">
      <label class="radio inline">
        <input type="radio" [(ngModel)]="form.ReportTemplates" name="ReportTemplates" value="NOT_IMPORT" (ngModelChange)="onRadioChange($event)"/>
          Do not import
        </label>
      <label class="radio inline">
        <input type="radio" [(ngModel)]="form.ReportTemplates" name="ReportTemplates"  value="OVERWRITE" (ngModelChange)="onRadioChange($event)"/>
          Overwrite
        </label>
      <label class="radio inline">
        <input type="radio" [(ngModel)]="form.ReportTemplates" name="ReportTemplates"  value="INSERT" (ngModelChange)="onRadioChange($event)"/>
          Insert or duplicate
        </label>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="LookupTables">Lookup Tables</label>
    <div class="controls">
      <label class="radio inline">
        <input type="radio" [(ngModel)]="form.LookupTables" name="LookupTables" value="NOT_IMPORT" (ngModelChange)="onRadioChange($event)"/>
          Do not import
        </label>
      <label class="radio inline">
        <input type="radio" [(ngModel)]="form.LookupTables" name="LookupTables"  value="OVERWRITE" (ngModelChange)="onRadioChange($event)"/>
          Overwrite
      </label>
      <label class="radio inline">
        <input type="radio" [(ngModel)]="form.LookupTables" name="LookupTables"  value="INSERT" (ngModelChange)="onRadioChange($event)"/>
          Insert or duplicate
      </label>
    </div>
  </div>

  <div class="control-group">
    <label class="control-label" for="Users">Users</label>
    <div class="controls">
      <label class="radio inline">
        <input type="radio" [(ngModel)]="form.Users" name="Users" value="NOT_IMPORT" (ngModelChange)="onRadioChange($event)"/>
          Do not import
      </label>
      <label class="radio inline" style="margin-left: 75px;">
        <input type="radio" [(ngModel)]="form.Users" name="Users"  value="INSERT" (ngModelChange)="onRadioChange($event)"/>
          Insert
      </label>
    </div>
  </div>
  <button type="submit" class="btn btn-default">Import</button>
</form>
<br><br>
<div class="lead">
  {{form | json}}
</div>
